<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 引用数据源配置文件 -->
	<properties resource="mybatis/datasource.properties" />

	<!-- 指定后，就不用在映射文件里的resultType属性值的类名前写包名 -->
	<typeAliases>
		<package name="entity"/>
	</typeAliases>

	<plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="dialect"  value="mysql"/>
		</plugin>
	</plugins>

	<!-- development:开发模式， work:工作模式 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- 配置数据库连接信息 -->
			<dataSource type="POOLED">
				<!-- 下面的value属性值，从文件datasource.properties里引用而来 -->
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper class="dao.mapper.NewsMapper"/>
		<mapper class="dao.mapper.UserMapper"/>
		<mapper class="dao.mapper.AdminMapper"/>
	</mappers>
	
</configuration>